header
{
  padding: 0 2em !important;
}
footer
{
  padding: 0 2em !important;
}
.content
{
  padding: 0 2em !important;
}
.panel-panel
{
  padding: 0 0.3em !important;
}
.panel-body
{
  padding: 0.5em !important:
}
.panel
{
  border: 0.1em !important;
  margin: 0.3em !important;
}
#main-content
{
  padding: 0.1em !important;
  margin: 0.1em !important;
}
#content-wrapper
{
  padding: 0.2em !important;
}
#logo
{
  float: left !important;
}
#site-name
{
  text-align: left;
}
#site-slogan
{
  float: left;
}

@media (min-width: 533px)
{
  #site-slogan
  {
    margin-left: 3em !important;
  }
}
