body {
  font-size: 0.9em !important;
  color: #333 !important;
}

h2:after {
  display: none !important;
}
header
{
  padding: 0 2em !important;
}
html {
  font-size: 1em !important;
}
img
{
  margin: 1em;
}
input[type=text] {
  font-size: 1.3em !important;
}
input[type=email] {
  color: #333 !important;
  font-size: 1.3em !important;
}
footer
{
  padding: 0 2em !important;
}
.admin-menu-icon {
  margin: 0.3em;
}
.article-title a
{
  color: #AA3A28;
}
.authors-list
{
  display: inline;
}
.breadcrumb
{
  margin: 0 !important;
}
.book-display {
  clear: both;
  padding-top: 2em;
}
.book-display .commerce-add-to-cart {
  float: right;
}
.book-display input[type="text"] {
  width: 4em;
  font-size: 1.5em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;;
}
.caption {
  /*margin-left: 0em !important;*/
  margin: 0 2em !important;
}
.caption img {
  margin: 0 0.5em !important;
}
.caption p {
  margin: 0.3em 1em !important;
  font-style: italic;
}
.content {
  padding: 0 2em !important;
}
.commerce-paypal-icon {
  display: inline !important;
  top: 0 !important;
}
.community-meetings {
  margin-top: 2em !important;
}
.crm-container.crm-public .select2-container .select2-choice {
  padding: 0 0 0 1em !important;
}
.dt-bday {
  /* Separate born and died dates on memorials page. */
  margin-right: 1em;
}
.edit-submit-library-test {
  margin-top: 0 !important;
}
.event-title {
  margin-bottom: 0.3em;
  font-size: 1.3em;
}
.field-name-body img {
  margin: 0.7em;
}
.field-name-field-department {
  margin-bottom: 1em;
}
.field-name-field-description p {
  margin-bottom: 1em;
}
.field-name-field-issue-months {
  margin-left: 2em;
}
.file-application-pdf .pdf {
  width: 100% !important;
}
.field-name-field-website {
  margin-bottom: 1em !important;
}
.file-application-pdf .content {
  padding: 0 !important;
}
.form-autocomplete {
  background-image: none !important;
}
.form-item .description {
  font-size: 1em;
}
.form-item-search-block-form {
  font-size: 0.7em !important;
}
.form-textarea {
  font-size: 1.3em !important;
  color: #333 !important;
}
.form-wrapper {
  clear: both !important;
}
.group-left {
  clear:both;
}
.label {
  color: #333 !important;
}
.links.inline {
  clear: both;
  display: block;
}
.main-menu {
  margin-bottom: 0.3em !important;
  margin-left: 1em  !important;
}
.main-menu a {
  padding: 0 0.5em !important;
  font-family: "Open Sans", sans-serif !important;
  text-transform: none !important;
  vertical-align: middle !important;
}
.main-menu-buttons {
  color: #fff !important;
}
.media-description {
  margin: 1em;
  clear: both;
  display: block;
}

.media-library-item-image img {
  margin-top: 0 !important;
}
.media-library-item-title {
  font-size: 1.3em !important;
}
.memorial-name a {
  font-size: 0.8em;
}
.quaker-meeting-committee-member .panel-heading {
  padding: 0.1em 2em !important
  
}
.quaker-meeting-committee-member .panel-body {
  padding-left: 2em !important;
}

.sf-main-menu a.donate-link {
  color: #fff !important;
  text-shadow: none !important;
}
.shopping-cart-button {
  /*display: none;*/
  position: fixed;
  bottom: 0;
  left: 0 !important;
  padding: 0.3em 0 !important;
  background-color: #333;
  border-radius: 0.3em;
}
.shopping-cart-button a {
  color: #fff;
}
.shopping-cart-button a:hover {
  color: green;
}
.node-article-magazine
{
  padding: 0 1em;
}
.field-name-field-authored-by
{
  clear: both !important;
  display: block !important;
}
.intro-text {
  margin-bottom: 0;
}
.panel-col-first {
    width: 48% !important;
}
.panel-panel {
  padding: 0 0.3em !important;
}
.panel-body {
  padding: 0.5em !important:
}
.panel {
  border: 0.1em !important;
  margin: 0.3em !important;
}
.sf-menu a {
  padding: 0.4em 2em !important;
}
.sf-menu ul {
  margin-bottom: 0.2em !important;
}
.sidebar .block {
  padding: 0 !important;
}
.sidebar h2 {
  margin: 0.8em !important;
  margin-bottom: 0.5em !important;
}
.sidebar li {
  padding: 0.3em !important;
}
.views-exposed-widget .views-submit-button {
  float: right !important;
  padding-right: 0;
}
.view-bookstore .views-field-field-cover-image
{
  float: left;
  margin-right: 1em;
}

.view-civicrm-quaker-meeting p {
  margin-bottom: 0.5em !important;
}

.views-field-edit-quantity input {
  font-size: 1.3em !important;
  padding: 0.3em 0.5em !important;
  width: 3em;
  min-height: 0;
}
.view-magazine-articles .views-field-field-authored-by {
  margin-left: 0 !important;
}
.views-field-field-authored-by {
  margin-left: 1em !important;
}
.views-field-field-cover-image img
{
  margin: 0;
}
.views-field-add-to-cart-form .form-item-quantity
{
  display: inline;
  padding: 1em;
}
.views-field-add-to-cart-form .form-submit
{
  display: inline;
}
.views-row-first {
  padding-top: 0;
}
.webform-component input {
  /* TODO: Determine why the color was set to #333, probably for form element contrast */
  /*color: #333 !important;*/
}
.wf-button
{
  width: 100%;
  white-space: normal !important;
}
.wf-custom-pane {
  padding: 0 !important;
}
.wf-custom-pane p:last-child {
  margin-bottom: 0 !important;
}
.view-header h2
{
  margin: 0;
}
.views-field-field-cover-image
{
  /* float: left; */
}
.western-friend-display-name {
  font-size: 1.05em;
  font-style: italic;
  padding-right: 0.3em;
}
.wf-button-reader-forum {
  margin-top: 1em;
}
.wf-magazine-cover-grid-item
{
  text-align: center;
  verticle-align: bottom;
  display: block !important;
}
.wf-magazine-cover-grid-item img
{
  margin: auto;
  width: 67%;
  max-width: 100%;
}
.wf-welcome-text
  padding-left: 0.2em;
}
section
{
  padding: 0em !important;
}
#admin-menu-wrapper {
  height: 2em;
}
#block-block-6 {
  float: right;
  position: absolute;
  width: 91%;
}
#block-block-6 .content {
  float: right;
}
#block-system-user-menu {
  /*float: right;*/
  position: relative;
  right: 0;
  display: inline-block;
  padding: 0 !important;
  margin: 0 !important;
}
#block-system-user-menu a {
  color: #fff !important;
  padding: 0 1.2em !important;
}
#block-user-login {
  padding: 0.2rem 1rem !important;
}
#breadcrumb ol {
  padding: 0.3em 1em !important;
}
#civicrm-menu img {
  margin: 0 !important;
}
#civicrm-menu li {
  list-style: none !important;
  /*line-height: 100%;*/
  height: auto !important;
}
#civicrm-menu > li.menumain {
  height: auto !important;
}
#comments {
  clear: both !important;
}
#edit-person-name {
  /* width of form input for memorials search */
  width: 10em;
}
/*#edit-quantity
{
  width: 2em;
  font-size: 1.5em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}*/
#edit-search-block-form--2 {
  border-radius: 6px !important;
  margin-top: 1em !important;
}
#edit-search-block-form--2 input[type=text] {
  /*background-color: #fff !important;*/
  color: #fff !important;
}
#facetapi-facet-search-apideep-archive-block-created .leaf {
  padding-bottom: 0;
}
#forum-sort
{
  margin-top: 3em;
}
#block-search-form .form-actions:after, .sidebar-search-block .form-actions:after
{
  top: -5px !important!;
}
#block-search-form .form-actions, .sidebar-search-block .form-actions
{
  top: -5px !important;
}
#community-page-find-meetings-text {

}
#header
{
  padding: 0.8em 0 0 2em !important;
  min-height: 0 !important;
  background-color: #ff8774 !important;
}
#header-top
{
  background-color: #ff8774 !important;
  border-bottom: none !important;
}
#header-top-left p
{
  margin: 0 !important;
}
#main-content
{
  padding: 0.1em !important;
  margin: 0.1em !important;
}
#content-wrapper
{
  padding: 0.2em !important;
}
#subscriber-login
1{
  margin: 0;
}
#superfish-1 {
  margin: 0.5em 0;
}
#superfish-1 a {
  padding: 0.8em !important;
}
#superfish-1-select {
  color: #333;
  font-size: 1em;
}
#logo
{
  float: left !important;
  padding: 0px !important;
  margin: 0px !important;
}
#logo img
{
  margin: 0.5em 0 0 0 !important;
}
#site-name
{
  text-align: left;
  position: relative !important;
  left: -0.7em;
  color: rgb(51,51,51) !important;
  text-shadow: 0.1em 0.1em 0.1em #fff;
}
#site-name a {
    font-size: 1.7em !important;
}
#site-slogan
{
  float: left;
  font-size: 1em !important;
  color: rgb(51, 51, 51) !important;
  text-shadow: 0.1em 0.1em 0em rgba(255, 255, 255, 0.7);
  margin: 0 !important;
  margin-left: 0em !important;
  line-height: 100% !important;
  margin-bottom: 0.5em !important;
}
#superfish-1-select {
  font-family: sans;
}
#wf-subscribe-message a {
  font-weight: bold !important;
}
#wf-welcome-message p {
  margin-bottom: 0;
}
@media (min-width: 480px) {
  #block-system-user-menu {
    position: absolute;
    display: inline-block;
    right: 0;
  }
}
@media (min-width: 533px)
{
  #site-slogan
  {
    margin-left: 0em !important;
    margin: 0px !important;
  }
  #header-top {
    z-index: 10;
    background-color: transparent !important;
  }
  #header {
    margin-top: -3em;
  }
  #site-name a {
    font-size: 1.7em !important;
  }
  .shopping-cart-button {
    left: 33%;
  }
}
@media (min-width: 580px) {
  #site-name a {
    font-size: 3em !important;
  }
}

@media (min-width: 630px) and (max-width: 740px) {
  #block-system-user-menu {
    position: relative !important;
  }
}

@media (min-width: 768px)
{
  .wf-magazine-cover-grid-item
  {
    display: table-cell !important;
    width: 33%;
    vertical-align: bottom !important;
  }
  .wf-magazine-cover-grid-item img
  {
    width: auto;
  }
  /*#block-system-user-menu {
    position: absolute;
    display: inline-block;
  }*/
  #forum-sort {
    width: 42%;
    float: right !important;
  }
  #block-user-login {
    position: absolute;
    left: 65%;
    width: 14em;
  }
  #sidebar-second {
    margin-top: 5.5em !important;
  }
  /*#site-name a {
    font-size: 2em !important;
  }*/
}

@media (min-width: 1080px) {
  #block-user-login {
    position: absolute;
    left: 75%;
  }
  /*.shopping-cart-button {
    display: block;
    position: absolute;
    left: 42%;
  }*/
}

[name=search_block_form]
{
  padding: 0em 1em !important;
  min-height: 42px !important;
}

@media print {
  .main-menu {
    display: none !important;
  }

  .region-footer-first {
    display: none !important;
  }

  .region-footer-fourth {
    display: none !important;
  }

  #block-system-user-menu {
    display: none !important:
  }

  #header {
    display: none !important;
  }

  #search-block-form {
    display: none !important;
  }

  #subfooter {
    display: none !important;
  }

  #subscribe-or-renew {
    display: none !important;
  }
}
