header
{
  padding: 0 2em !important;
}
img
{
  margin: 1em;
}
footer
{
  padding: 0 2em !important;
}
.breadcrumb
{
  margin: 0 !important;
}
.content
{
  padding: 0 2em !important;
}
.group-left
{
  clear:both;
}
.links.inline
{
  clear: both;
  display: block;
}
.node-article-magazine
{
  padding: 0 1em;
}
.field-name-field-authored-by
{
  clear: both !important;
  display: block !important;
}
.panel-panel
{
  padding: 0 0.3em !important;
}
.panel-body
{
  padding: 0.5em !important:
}
.panel
{
  border: 0.1em !important;
  margin: 0.3em !important;
}
section
{
  padding: 0em !important;
}
#header
{
  padding: 0.3em 0 0 2em !important;
  min-height: 0 !important;
}
#main-content
{
  padding: 0.1em !important;
  margin: 0.1em !important;
}
#content-wrapper
{
  padding: 0.2em !important;
}
#subscriber-login
{
  margin-top: 0.5em;
}
#logo
{
  float: left !important;
}
#site-name
{
  text-align: left;
}
#site-slogan
{
  float: left;
}

@media (min-width: 533px)
{
  #site-slogan
  {
    margin-left: 3em !important;
  }
}
